<div class="container">
  <h2>USERS</h2>

  
  <button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm" >Add User</button>

  <div class="card card-body mb-4" *ngIf="showUserForm">
    
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" >
      
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" 
          class="form-control" 
          placeholder="First Name"
          name="firstName"
          [(ngModel)]="user.firstName" 
          #userFirstName="ngModel"
          required
          minlength="2"
          [ngClass]="{'is-invalid' : userFirstName.errors && userFirstName.touched }"
          >
          <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
            First Name is Required
          </div>
          <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
            First Name must be at least 2 characters long
          </div>
      </div> 
      
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" 
          class="form-control" 
          placeholder="Last Name"
          name="lastName"
          [(ngModel)]="user.lastName" 
          #userLastName="ngModel"
          required
          minlength="2"
          [ngClass]="{'is-invalid' : userLastName.errors && userLastName.touched }"
          >
          <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
            Last Name is Required
          </div>
          <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
            Last Name must be at least 2 characters long
          </div>
      </div> 
      
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" 
          class="form-control" 
          placeholder="Email"
          name="email"
          [(ngModel)]="user.email" 
          #userEmail="ngModel"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched }"
          >
          <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
            Email is Required
          </div>
          <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
            Please enter a valid email
          </div>
      </div> 
      
      <div class="form-group">
        <label for="">Active
          <input type="radio" [(ngModel)]="user.isActive" value="true" name="isActive">
        </label> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;        
        <label for="">Non-active
          <input type="radio" [(ngModel)]="user.isActive" value="false" name="isActive">
        </label>
      </div>
      
      <button class="btn btn-block btn-success mb-4" >Add User</button>
    </form>
    
  </div>

  
  <!-- [ngClass]="currentClasses"-->

  <ul *ngIf="users?.length > 0 && loaded" class="list-unstyled">
    <li *ngFor="let user of users" class="card card-body mb-4" [class.bg-light]="user.isActive">
      <!--[style.border-color]="user.isActive ? 'green' : ''"-->
      <h3>{{user.firstName}} {{user.lastName}}
        <small>
          <button class="btn btn-small btn-dark" 
          (click)="user.hide = !user.hide">
            <i class="fa" [ngClass]="user.hide ? 'fa-plus' : 'fa-minus'" aria-hidden="true"></i>
          </button>
        </small>
      </h3>
      <!--[ngStyle]="currentStyles" ngNonBindable-->



      <ul *ngIf="!user.hide" class="list-group">
        <li class="list-group-item">Email: {{user.email}} </li>
        <li class="list-group-item">
          Registered: {{user.registered | date:"medium"}} </li>
        <!-- shortDate, mediumDate, fullDate, shortTime, longTime -->
      </ul>
    </li>
  </ul>

  <h3 *ngIf="users?.length == 0">No users found</h3>

  <!--<ng-template #noUsers>
<h3>NO users FOundsdfs</h3></ng-template>-->


  <!-- *ngIf  -->
</div>